@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
/*font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;*/

:root {
  --lightbrown-clr: #f3eed9;
  --brown-clr: #824936;
  --darkgreen-clr: #222c2a;
    
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
}